
div.entry-container {
    position: relative;
    margin: 0.5rem 1rem;
    border-radius: 2rem;
}


.input-area {
    outline: none;
    border: 2px solid var(--primary);
    padding: 10px 13px 10px 60px;
    width: 30rem;
    font-size: 18px;
    border-radius: 60px;
}

.input-area:valid+.label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: var(--primary);
}

.input-area:focus {
    border: 2px solid var(--primary);
}

.label {
    color: var(--primary);
    position: absolute;
    top: 10px;
    left: 60px;
    background: #ffffff;
    transition: var(--transition);
}

.entry-icon{
    background-color: var(--primary);
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 100%;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.input-area:focus+.label {
    top: -8px;
    padding: 0 3px;
    font-size: 14px;
    color: var(--primary);
    transition: var(--transition);
}


@media screen and (max-width: 349px) {
    .input-area  {
        width: 100%;
    }
    
}
@media screen and (min-width: 350px) and (max-width: 430px) {
    .input-area  {
        width: 22rem;
    }
}
@media screen and (min-width: 431px) and (max-width: 480px) {
    .input-area  {
        width: 24rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 580px) {
    .input-area  {
        width: 26rem;
    }
}
@media screen and (min-width: 581px) and (max-width: 680px) {
    .input-area  {
        width: 28rem;
    }
}
@media screen and (min-width: 681px) and (max-width: 990px) {
    .input-area  {
        width: 30rem;
    }
}
