body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.content {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.App {
  display: flex;
  position: relative;
}
.mainSection {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  /* background-color: blueviolet; */
}
.active {
  background-color: lime;
  height: 100%;
}
