
div.descriptor{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    background: url('../../assets/images/banner.svg') center/cover no-repeat;
    width: 100%;

}
div.normalizer{
   background: rgba(0, 0, 156, 0.8);
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
div.contain{
    position: relative;
    width: 90%;
    height: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div.top-tasks{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1rem 2rem;
}
.top-tasks .more{
    display: flex;
    align-items: center;
    justify-content: center;
}
.more div{
    padding: 0.2rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
}
div.normalizer p{
    text-align: center;
    margin: 0.5rem;
    /* font-family: Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 0.8rem;
    color: white;
    letter-spacing: 0.1rem;
}
div.normalizer p.welcome{
    font-size: 2rem;
    font-weight: 700;
}

div.normalizer p span{
    color: greenyellow;
}

@media screen and (max-height: 700px){
    div.contain{
        padding: 10rem 0 5rem 0;
    }
}
@media screen and (min-height: 800px){    
    div.normalizer p{
        font-size: 1.5rem;
    }
    div.normalizer p.welcome{
        font-size: 3rem;
    }
}
@media screen and (min-width: 991px){
    div.contain{
        align-items: center;
    }
    div.normalizer p{
        text-align: center;
        font-size: 1.3rem;
    }
    div.normalizer p.welcome{
        text-align: center;
        font-size: 3rem;
    }
    div.normalizer p.encourager{
        text-align: center;
        width: 80%;
    }
    div.form{
        justify-content: center;
    }
}